html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")

    title= title
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    link(rel='stylesheet', href='css/master.css')
  body
    h1 Migawari
    input.selector
    pre
      code.result
    

    //- add other scripts through require.js, not here
    script(src="js/client.js")
    